$header-background: linear-gradient(to bottom, #9aafd9, #f2ced8);
$header-elements-color-primary: #f26b5e;
$header-elements-color-secondary: cornflowerblue;
$main-background: linear-gradient(
  to bottom,
  #f2ced8,
  #d9bad4,
  #d0d9f2,
  #9aafd9
);
$menu-background: #f6f6f6;
