$header-background: linear-gradient(to bottom, #9AAFD9, #F2CED8);
$header-elemets-color: #F26B5E;
$header-elemets-color-2: cornflowerblue;
$main-background: linear-gradient(to bottom, #F2CED8, #D9BAD4, #D0D9F2, #9AAFD9);
$menu-background: #F6F6F6;